{{template "base" .}}
{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ index .StrMap "title" }}<h1>
            <p>{{ index .StrMap "intro" }}</p>

            <p>
                {{if ne (index .StrMap "userid") ""}}
                    Your userid is {{index .StrMap "userid"}}
                {{else}}
                    You aren't logged in. Login here <a href="/">Home</a>
                {{end}}
            </p>

        </div>
    </div>
</div>

{{end}}
