{{template "base" .}}
{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ index .StrMap "title" }}<h1>
            <p>{{ index .StrMap "intro" }}</p>
        </div>
    </div>
</div>

{{end}}
