{{template "base" .}}
{{define "content"}}

<div class="container">
    <div class="row>
        <div class="col1">
            <h1>About Us<h1>
            <p>I'm Sina Laleh Bakhsh</p>
        </div>
    </div>
</div>

{{end}}
